@font-face {
    font-family: gordita_medium;
    src: url(fonts/Gordita\ Medium.otf);
}

@font-face {
    font-family: halloween;
    src: url(fonts/Halloween\ Night.otf);
}

body{
    font-family: gordita_medium;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
    height: 100%;
}

.top-img{
    text-align: center;
    margin: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/a.jpg) center ;
    background-position-y: -350px;
    background-size: 1000px 1000px;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    height: 629px;
}

.logo{
    margin-top: 20%;
}

.tittle-one{
    font-family: halloween;
    color: rgba(249, 205, 98, 1);
    font-size: 40px;
    line-height: 70%;
    position: absolute;
    top: 300px;
}

.tittle-two{
    font-family: halloween;
    color: white;
    font-size: 21px;
}

.top-preco{
    background: linear-gradient(268.37deg, #644A77 0%, #2E2E2E 100%);
    border-radius: 5px;
    font-family: halloween;
    color:rgba(249, 205, 98, 1) ;

    padding: 05px 15px 05px 15px;
    font-size: 29px;
    position: absolute;
    top: 400px;
}

.forma-de-pagamento{
    background: rgba(249, 205, 98, 1);
    border-radius: 5px;
    
    color:black;

    padding: 05px 10px 05px 10px;
    font-size: 12px;
    position: absolute;
    top: 470px;
}

.clique-direct{
    position: absolute;
    font-size: 10px;
    color: white;
    text-decoration: none;
    bottom: 5%;
}

.container-mensagem{
    background: url(Icon/base_head_icon.png) center;
    height: 231px;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mensagem{
    position: relative;
    bottom: 20px;
}

.grandioso{
    color: #F9CD62;
    font-family: halloween;
    font-size: 30px;
}

.anular{
    text-align: none;
}

.text-center{
    text-align: center;
}

.tiitle-section{
    font-family: halloween;
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #644A77;
}

.sub-section{
    font-family: halloween;
    color:#FD990D;
    font-size: 20px;
}

.price{
    color:rgba(249, 205, 98, 1);
    font-family: halloween;
    font-size: 31px;
    margin: auto;
    padding: 10px;
    width: 124px;
    margin-top: 30px;

    background: linear-gradient(268.37deg, #644A77 0%, #2E2E2E 100%);
    border-radius: 8.5px;
}

.buy-info{
    font-family: gordita_medium;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    
    color: rgba(0, 0, 0, 0.5);
}

.line{
    line-height: 81%
}

.bt-buy{
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    width: 223px;

    background: linear-gradient(269.01deg, #FD990D -0.99%, #F9CD62 100%);
    border-radius: 6.35227px;
}

.emerson{
    color: #FD990D;
    text-decoration: none;
}

.container-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    background: url(Icon/design-footer.svg) center;
    height: 124px;
    overflow: hidden;
    margin-bottom: 0px;
    font-size: 13px;
}
